body
{
    /* opacity: 0; */
    margin: 0;
    padding: 0;
    /* font-size: 1em; */
    /* height: 100%; */
    transition: opacity 1s;
    background : var(--main-background);
}

body .application
{
    opacity: 0;
    max-width: 1980px;
    box-shadow: 0px 9px 12px rgba(50,50,50,0.5);
    margin: auto;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto minmax(0, 1fr) auto;
    background-color: rgb(255 255 255 / 20%);
}


header
{
    color: #0175cd;
    background: radial-gradient(circle at 50% 0%, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0) 75%);
    box-shadow: 0px 9px 12px rgba(50,50,50,0.5);
    display: grid;
    grid-template-rows: auto auto;
}

header h1
{
    margin: 0;
    padding: 0 0.5rem;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    letter-spacing: 0.03em;
    text-shadow: 0px 0px 11px rgb(255 255 255);
}

header h1 .logo
{
    grid-column: 1;
    max-height: 120px;
    display: block;
    margin-right: 1rem;
}

header h1 .title
{
    grid-column: 2;
    justify-self: center;
    text-align: center;
}

header .menu
{
    /* grid-row: 2; */
    /* padding: 0 1.5rem 1rem 1.5rem; */
}


header .menu
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    /* padding: 1rem 1rem; */
    background: rgb(255 255 255 / 21%);
    border-top: 1px #cbcbcb solid;
}

header .menu button
{
    /* display: flex; */
    /* justify-content:center; */
    /* font-size: 1.5rem; */
    /* letter-spacing: 0.03em; */
    /* padding: 1rem 1.4rem; */
    /* border: 0; */
    border-radius: 0;
    /* background: #0175cd; */
    /* color: #d6e3f7; */
    min-width: 200px;
    /* transition: background-color .33s ease; */
    /* font-family: "Antonio", sans-serif; */
    height: 3.5rem;
    font-weight: 200;
    /* align-items: center; */
}


main
{
    /* padding: 1rem; */
    display: grid;
    overflow: hidden;
    min-height: 0;
    height: 100%;
    background-color: #ffffffab;
}


footer
{
    padding: 0 1rem;
    color: #dfeaf9;
    background: radial-gradient(circle at 50% 0%, rgba(255, 255, 255, 0.12) 0%, rgba(255, 255, 255, 0) 75%);
    box-shadow: 0px -9px 12px rgb(231 231 255 / 50%);
}

footer p 
{
    padding: 0 0;
    display: flex;
    justify-content: right;
    align-items: center;
    letter-spacing: 0.03em;
    /* text-shadow: 0 1px 5px rgb(113 113 113 / 98%); */
}



/* compact */
@media (max-width: 1024px), (max-height: 960px)
{
   
    header h1
    {
        padding: 0;
    }

    header h1 .logo
    {
        max-height: 64px;
    }

    header .menu button
    {
        font-size: 1.25rem;
        padding: 0.75rem 1rem;
        min-width: 150px;
        height: 2.5rem;
    }    

}

/* mobile */
@media (max-width: 768px)
{
    
}