

[data-appcore-class~="app.js.component-stack"]
{
    position: relative;
    transition: transform 0.5s ease;
    /* height: 100%; */
    /* min-height: 0; */
    /* overflow: hidden; */
}

[data-appcore-class~="app.js.component-stack"] > *
{
    transform-origin : center center;
    backface-visibility : hidden;
    -webkit-backface-visibility : hidden;
    transform-style : preserve-3d;  
}

