div[data-appcore-class~="app.js.popup"]
{
    position: fixed;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 320px;
    max-width: min(90vw, 720px);
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: var(--color-text);
    /* background: color-mix(in srgb, var(--color-bg) 70%, transparent); */
    /* border: 1px solid #0175cd; */
    border-radius: 0.5rem;
    /* box-shadow: 0 0.75rem 4rem rgb(0 0 0 / 49%); */
    transition: opacity 0.2s ease;
    border-radius: 0.75rem;
    box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.25);
}

div[data-appcore-class~="app.js.popup"] .popup-modal-overlay
{
    position: fixed;
    z-index: -1;
    inset: 0;
    backdrop-filter: blur(1px);
    transition: backdrop-filter 3s ease;
    background-color: color-mix(in srgb, var(--color-bg) 25%, transparent);
    /* background-color: rgba(20, 24, 31, 0.45); */
    /* opacity: 1; */
    background-color: rgba(20, 24, 31, 0.45);
    /* display: none; */
}


div[data-appcore-class~="app.js.popup"] > .popup-header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 0.75rem 1rem;
    color: #0175cd;
    /* background: linear-gradient(178deg, #0175d6, #9ab7e9); */
    border-bottom: 1px solid rgb(255 255 255 / 20%);
    cursor: default;
    background-color: #ffffff;
}


div[data-appcore-class~="app.js.popup"] > .popup-header .popup-title
{
    display: flex;
    align-items: center;
    min-width: 0;
    flex: 1 1 auto;
}

div[data-appcore-class~="app.js.popup"] > .popup-header .popup-icon
{
    flex: 0 0 auto;
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    object-fit: contain;
}

div[data-appcore-class~="app.js.popup"][data-type="info"] > .popup-header .popup-icon
{
    color: #ffffff;
}

div[data-appcore-class~="app.js.popup"][data-type="warning"] > .popup-header .popup-icon
{
    color: var(--color-warning);
}

div[data-appcore-class~="app.js.popup"][data-type="error"] > .popup-header .popup-icon
{
    color: var(--color-danger);
}

div[data-appcore-class~="app.js.popup"][data-type="success"] > .popup-header .popup-icon
{
    color: var(--color-success);
}

div[data-appcore-class~="app.js.popup"] > .popup-header .popup-title :is(h1, h2, h3)
{
    margin: 0;
    padding: 0 1rem;
    color: #ffffff;
    /* font-size: 1.25rem; */
    /* font-weight: 400; */
    display: flex;
    align-items: center;
    vertical-align: middle;
    user-select: none;
    color: #0175cd;
}


div[data-appcore-class~="app.js.popup"] > .popup-header button:hover
{
    background: color-mix(in srgb, #ff5500 85%, white);
}

div[data-appcore-class~="app.js.popup"] > .popup-body
{
    flex: 1 1 auto;
    padding: 1rem;
    overflow: auto;
    /* background: color-mix(in srgb, var(--color-bg) 90%, transparent); */
    background-color: #ffffff;
}

div[data-appcore-class~="app.js.popup"] > .popup-footer
{
    display: flex;
    justify-content: flex-end;
    gap: 0.75rem;
    padding: 0 1rem 1rem 1rem;
    background-color: #ffffff;
}

div[data-appcore-class~="app.js.popup"] > .popup-footer .popup-ok
{
    min-width: 6rem;
    height: 2.5rem;
    padding: 0 1rem;
    border: 0;
    border-radius: 0.35rem;
    font-size: 1.1rem;
}
