[data-appcore-class~="app.js.screen"]
{
    padding: 1rem;
    position: absolute;
    inset: 0;
    /* min-height: 0; */
    /* overflow-y: auto; */
    /* width: 100%; */
}

[data-appcore-class~="app.js.screen"]  .screen-content
{
    position: relative;
    display: grid;
    /* grid-template-rows: 1fr auto; */
    min-height: 100%;
    /* border-radius: 1rem; */
    
    /* border-radius: 0 1.5rem 0 0;
    corner-shape: bevel; */
    padding-bottom: 6rem;
    height: 100%;
    padding: 1rem;
    overflow: hidden;
    border: 0;
    background: color-mix(in srgb, var(--color-surface) 80%, transparent);
    --cut: 36px;

clip-path: polygon(
    0 0,
    calc(100% - var(--cut)) 0,
    100% var(--cut),
    100% 100%,
    var(--cut) 100%,
    0 calc(100% - var(--cut))
);
}    




[data-appcore-class~="app.js.screen"] > .screen-content > :first-child
{
    display: grid;
    grid-template-rows: max-content;
    align-content: start;
    overflow-y: auto;
    height: 100%;
    min-height: 0;
}

[data-appcore-class~="app.js.screen"] > .screen-content  .screen-footer
{
    position: absolute;
    left: 1rem;
    right: 1rem;
    bottom: 1rem;

    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;

    z-index: 2;

    pointer-events: none;
}

[data-appcore-class~="app.js.screen"] > .screen-content .screen-footer button,
[data-appcore-class~="app.js.screen"] > .screen-content .screen-footer a
{
    pointer-events: auto;
}
