[data-appcore-class~="app.js.stack-component"]
{
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

[data-appcore-class~="app.js.stack-component"] > [data-zone="track"],
[data-appcore-class~="app.js.stack-component"] > .stack-track
{
    position: relative;
    height: 100%;
    width: 100%;
}

[data-appcore-class~="app.js.stack-component"] > [data-zone="track"] > *,
[data-appcore-class~="app.js.stack-component"] > .stack-track > *
{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;

    transform-origin: center center;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform-style: preserve-3d;
}
